@model List<DependencyInjectionExercise.Models.Product>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @foreach (var product in Model)
    {
        <p>@product.Id  @product.Name</p>
    }

</div>
